html, body{
    height: 100%;
    box-sizing: border-box;
   
}
.bg{
    height: 100%;
    background-image: url("1051370.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(9px);
    -webkit-filter: blur(3px);
    
}
*{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
.mainbox{
    background-color: rgba(245, 222, 179, 0.259);
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%,-50%); 
    border: solid rgb(255, 255, 255) 4px;   
    height: 16rem;
    width: 35rem;
    background-color: rgba(0, 0, 0, 0.646);
    border-style:inset;
   
}
.mainp{
    
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    padding-top:5%;
    font-size: 1.25rem;
    font-weight: 100;   
}
.button{
   padding-left:10%;
   color: white;
   
  
    
   

}
button{
    color: white;
    background-color: rgba(63, 31, 31, 0.334);
    text-decoration: none;
    height: 5rem;
    width: 40%;
    border: solid rgb(255, 255, 255) 1px; 
    border-radius: 1rem;
    
}
.false{
    margin-left: 10%;
}
a{

    font-size: 1rem;
    text-decoration: none;
    color: white;
}
button:hover{
    cursor:pointer;
    background-color: transparent;
}